# Auto detect text files and perform LF normalization
* text=auto
Content/DerelictCorridor/Assets/Custom/Greenhallway_Pebbles/SM_Combined_Pebbles_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Custom/Greenhallway_Pebbles/SM_Combined_Pebbles_02.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Custom/Greenhallway_Pebbles/SM_Combined_Pebbles_03.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Custom/Greenhallway_Pebbles/SM_Combined_Pebbles_04.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Custom/Greenhallway_Pebbles/SM_Combined_Pebbles_05.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Fab/Megascans/3D/Ind_Con_Pile_Rubble_Gravel_Patch_01/SM_Ind_Con_Pile_Rubble_Gravel_Patch_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Fab/Megascans/3D/Ind_Rubble_Debris_Pile_Gravel_M_01/SM_Ind_Rubble_Debris_Pile_Gravel_M_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Fab/Megascans/3D/Ind_Rubble_Pile_Concrete_M_02/SM_Ind_Rubble_Pile_Concrete_M_02.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Fab/Megascans/3D/Ind_Rubble_Pile_Concrete_M_01/SM_Ind_Rubble_Pile_Concrete_M_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Fab/Megascans/3D/Ind_Rubble_Pile_Debris_Concrete_M_01/SM_Ind_Rubble_Pile_Debris_Concrete_M_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Fab/Megascans/3D/Ind_Rubble_Pile_Debris_Concrete_M_05/SM_Ind_Rubble_Pile_Debris_Concrete_M_05.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Fab/Megascans/3D/Ind_Ware_Storage_Shelf_Metal_Rusted_01/SM_Ind_Ware_Storage_Shelf_Metal_Rusted_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/DerelictCorridor/Assets/Fab/Megascans/Surfaces/Ind_Unf_Floor_Concrete_Dirty_02/T_Ind_Unf_Floor_Concrete_Dirty_02_H.uasset filter=lfs diff=lfs merge=lfs -text
